<div ui-content-for="title">
  <span>Rivy Form</span>
</div>

<div class="scrollable">
 <div class="scrollable-content section">
   
  <form role="form" ng-submit='submit()'>
    <fieldset>
        <div class="form-group has-success has-feedback">
          <label>Address</label>
          <input
          type="search"
          g-places-autocomplete
          class="form-control"
          placeholder="Search.." 
          ng-model="autocomplete.result"/>
        </div>

        <div class="form-group">
          <label>Title</label>
          <input type="" 
                 class="form-control"
                 placeholder="Title">
        </div>

        <div class="form-group">
          <label>Review</label>
          <div>
            <textarea class="extend" style="width: 800px; height: 150px;" ng-model="rivyInput.body" placeholder="Review"></textarea></div>
        </div>

    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
      Submit
    </button>

  </form>
 </div>
</div>
