<div ui-content-for="title">
  <span>
    Home
  </span>
</div>

<div class="scrollable">  
  <div class="scrollable-content">

    <input
      type="search"
      class="form-control scrollable-header"
      placeholder="Search.." />


    <ui-state id='activeTab' default='1'></ui-state>

    <div class="btn-group justified nav-tabs">
            <a ui-set="{'activeTab': 1}" ui-class="{'active': activeTab == 1}" class="btn btn-default active">Feed</a>

            <a ui-set="{'activeTab': 2}" ui-class="{'active': activeTab == 2}" class="btn btn-default">Map</a>
    </div>

<!-- map view -->
  <div ui-if="activeTab == 2">
  </div>


<!-- list view -->
    <div ui-if="activeTab == 1" class="list-group text-center ng-scope">

      <!-- list of address cards -->
      <div class="btn list-group-item list-group-item-home" ui-sref="locationProfile({location_id: 0})">
        <div>
            <i class="fa fa-gamepad feature-icon text-primary"></i>
          </div>
          <div>
              <h3 class="home-heading">Address 0</h3>
              Rating<br>
              Price range $500 - $1200
          </div>
        </button>
      </div>


      <div class="btn list-group-item list-group-item-home" ui-sref="locationProfile({location_id: 1})">    
        <div>
            <i class="fa fa-gamepad feature-icon text-primary"></i>
          </div>
          <div>
              <h3 class="home-heading">Address 1</h3>
              Rating<br>
              Price range $500 - $1200
          </div>
        </button>
      </div>


      <div class="btn list-group-item list-group-item-home" ui-sref="locationProfile({location_id: 2})">     
        <div>
            <i class="fa fa-gamepad feature-icon text-primary"></i>
          </div>
          <div>
              <h3 class="home-heading">Address 2</h3>
              Rating<br>
              Price range $500 - $1200
          </div>
        </button>
      </div>

      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-stethoscope feature-icon  text-primary"></i>
        </div>
        <div>
            <h3 class="home-heading">Submit an issue</h3>
            <p>Please submit any issue you'll find, <a href="https://github.com/mcasimir/mobile-angular-ui/issues" target='blank' id='#home-report'>reporting</a> your user agent string:<br>
            </p>
<pre>{{userAgent}}</pre>
            <p>
              It would help a lot!
            </p>
        </div>
      </div>

    </div>

  </div>
</div>
