<div ui-content-for="title">
  <span class="btn navbar-btn-tony" ui-sref="home">
    <i class="fa fa-comment"></i> Back to Home
  </span>
</div>

<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">

      <!-- title card -->
      <div class="list-group-item list-group-item-home">
        <h1>Location Profile
        Demo <small>1.2</small>
        </h1>
      </div>


      <!-- address card -->

      <div class="list-group-item list-group-item-home">
        <div>
            <i class="fa fa-gamepad feature-icon text-primary"></i>
          </div>
          <div>
              <h3 class="home-heading">{{location_address}}</h3>
              {{location_id}}
              Rating<br>
              Price range $500 - $1200
          </div>
        </button>
      </div>

      <a ng-repeat="rivy in rivys" ui-sref="rivyProfile({location_id: 0, rivy_id: 0})" class="list-group-item">
        <h4>{{rivy.title}}</h4>
        {{rivy.body}}
        {{rivy._id}}
        {{location_id}}

        <i class="fa fa-chevron-right pull-right"></i>
      </a>

  </div>
</div>
