<ion-view view-title="Home">
  <ion-content style="height: 100%">
    
    <!-- search bar -->          
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" g-places-autocomplete ng-model="autocomplete.result"/>
        </label>
        <button class="button button-clear" ng-click="search()">
          Search
        </button>
      </div>
    <!-- end search bar -->


    <!--location list -->
<!--     <div class="card" ng-repeat="loc in locations">
      <a href="#/tab/rivyFeed/{{loc._id}}" class="item item-text-wrap">
        {{loc.address}}
      </a>
    </div> -->

    <ui-gmap-google-map center="map.center" zoom="map.zoom" bounds="map.bounds">
        <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()" templateUrl="map.window.templateUrl" templateParameter="map.window.templateParameter">
            <div ng-non-bindable="">test</div>
        </ui-gmap-window>
        <ui-gmap-markers idkey="'location_id'" models="map.markers" coords="'self'" docluster="false" fit="'true'" icon="'icon'" events="map.markersEvents" options="'options'"></ui-gmap-markers>
    </ui-gmap-google-map>

  </ion-content>
  <!-- footer button -->
  <div class="bar bar-subfooter margin-clear-tab">
      <button class="button button-block button-assertive" ui-sref="tab.home-input1">Add Review</button>
  </div>
</ion-view>