<ion-view view-title="Home">
  <ion-content style="height: 100%">
    
    <!-- search bar -->          
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="text" g-places-autocomplete ng-model="autocomplete.result"/>
        </label>
        <button class="button button-clear" ng-click="search()">
          Search
        </button>
      </div>
    <!-- end search bar -->


    <!--location list -->
    <div class="card" ng-repeat="loc in locations">
      <a href="#/tab/rivyFeed/{{loc._id}}" class="item item-text-wrap">
        {{loc.address}}
      </a>
    </div>

  </ion-content>
  <!-- footer button -->
  <div class="bar bar-subfooter margin-clear-tab">
      <button class="button button-block button-assertive" ui-sref="tab.home-input1">Add Review</button>
  </div>
</ion-view>